*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    padding-top: 70px;
}

#encabezado{
    display: flex;
    background-color: rgb(151, 151, 151);
    align-items: center;
    justify-content: space-around;
    height: 70px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #333;
}

.logo img{
    height: 50px;
    width: 50px;
}

.barra_de_busqueda{
    width: 500px;
    height: 40px;
    display: flex;
    border-radius: 10px;
    padding: 0 10px;
}

.buscar{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 17px;
    padding-left: 10px;
}

.chango img, .usuario_foto img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}



#categorias{
    margin-bottom: 30px;
    padding: 20px;
    position: fixed;
    top: 100px;
    left: 20px;
    width: 180px;
    background-color: rgb(226, 226, 226);
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#categorias h1{
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

#categorias h2{
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#categorias h2:hover{
    color: grey
}

main{
    display: flex;
    margin-left: 220px;
    padding: 20px;
}

#perfumes{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.fila img{
    width: 160px;
    display: flex;
    height: 230px;
    object-fit: cover;
}

.fila .boton:hover {
    border: 2px solid rgb(196, 196, 196);
    border-radius: 7px;
}
.fila{
    display: flex;
    margin: 100px;
    gap: 300px;
}

.boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.comprar{
    background-color: rgb(0, 0, 0);
    width: 160px;
    height: 37px;
    border-radius: 5px;

}
.comprar:hover{
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}
.comprar p{
    color: whitesmoke;
}
.nombre{
    width: 160px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2px;
}